<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="margin:2px">
<ul class="list-unstyled" style="margin:5px">

  <h6>Workflow Management</h6>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'settings:workflowManagement' %}">
      Workflow
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'settings:workTemplateManagement' %}">
      Work Template
    </a>
  </li>
  <hr>

  <h6>Templates Management</h6>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'settings:emailTemplateManagement' %}">
      Email Template
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'settings:contractTemplateManagement' %}">
      Contract Template
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'settings:questTemplateManagement' %}">
      Questionnaire Template
    </a>
  </li>
  <br>
</ul>
</div>
