<ul>

  <h6>Workflow Management</h6>
  <li>
    <a class="link-primary" href="{% url 'settings:workflowManagement' %}">
      Workflow
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'settings:workTemplateManagement' %}">
      Work Template
    </a>
  </li>
  <br>

  <h6>Templates Management</h6>
  <li>
    <a class="link-primary" href="{% url 'settings:emailTemplateManagement' %}">
      Email Template
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'settings:contractTemplateManagement' %}">
      Contract Template
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'settings:questTemplateManagement' %}">
      Questionnaire Template
    </a>
  </li>
  <br>
</ul>
