{% extends 'customer_base.html' %}

{% block sidebar %}
{% include 'sidebars/customer_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

{% if messages %}
  <div class="row">
    {% for message in messages %}
    <p id="messages">{{message}}</p>
  </div>
{% endfor %}
{% endif %}

<div class="col">
  {% if jobStatus == 'req' %}
    <h1>Job Requests</h1>
    <a href="{% url 'core:jobReqAdd' %}">Add Job Request</a> 
  {% elif jobStatus == 'conf' %}
    <h1>Confirmed Jobs</h1>
  {% else %}
    <h1>Declined Jobs</h1>
  {% endif %}

  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for job in jobs %}
        <tr>
          {% if jobStatus != 'decl' %}
          <th><a href="{% url 'core:jobPage' job.id %}">{{ job.job_name }}</a></th>
          {% else %}
          <th>{{ job.job_name }}</th>
          {% endif %}
        </tr>
        <tr>

        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}
