{% extends 'customer_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>Job - {{ job.job_name }}</h3>

    <form method="POST" action="">
      {% csrf_token %}
      <br> 
      <a class="btn btn-outline-primary" href="{% url 'blog:features' %}">Click here to check packages</a>
      <br><br>
      <div class="row">
        <div class="col">
         {{ form.package | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update package">
    </form>
{% endblock %}
