{% extends 'customer_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>REGISTER ACCOUNT</h3>

    <form method="POST" action="">
      {% csrf_token %}
      {{ form.email | as_crispy_field}}
      {{ form.username | as_crispy_field}}
      {{ form.password1 | as_crispy_field}}
      {{ form.password2 | as_crispy_field}}
      <input class="btn btn-primary" type="submit" value="Register Account">
      Have logins? <a class="link-primary" href="{% url 'core:login' %}">Login here</a>
    </form>
{% endblock %}
