
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'adminPage' %}">TRIPOD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% comment %} <li class="nav-item"> {% endcomment %}
          {% comment %} <a class="nav-link active" aria-current="page" href="{% url 'company:home' %}">Home</a> {% endcomment %}
        {% comment %} </li> {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'dashboard:dashboardHome' %}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'job:staffJob' %}">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company:staffCompany' %}">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'settings:staffSettings' %}">Settings</a>
        </li>
      </ul>
    </div>

    <ul class="navbar-nav mx-right">
      {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company:updateProfile' %}">Account</a>
        </li>
        <li>
          <a class="nav-link" href="{% url 'company:staffLogout' %}">Logout</a>
        </li>
        {% else %}
        <li>
          <a class="nav-link" href="{% url 'company:staffLogin' %}">Login</a>
        </li>
        {% endif %}
      </li>
    </ul>

  </div>
</nav>
