{% extends 'customer_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>REGISTER ACCOUNT</h3>
    {% for message in messages %}
		<p id="messages">{{message}}</p>
		{% endfor %}
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.email | as_crispy_field}}
      {{ form.username | as_crispy_field}}
      {{ form.first_name | as_crispy_field}}
      {{ form.last_name | as_crispy_field}}
      {{ form.gender | as_crispy_field}}
      {{ form.contact_number | as_crispy_field}}
      {{ form.city | as_crispy_field}}
      {{ form.country | as_crispy_field}}
      {{ form.job_request | as_crispy_field}}
      <br>
      <input class="btn btn-primary" type="submit" value="Create Request and Sign Up">
      Have logins? <a class="link-primary" href="{% url 'core:login' %}">Login here</a>
    </form>
{% endblock %}
