{% extends 'guest_user_base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="row" style="padding:10px">
  <!-- first column -->
  <div class="col-4">
    <div class="">
      <div class="card-body">
        <img class="img-fluid" src="{% static 'img/pic_one.jpg'%}" alt="photo">
        <br>
        <small>Photo by Prince Akachi on Unsplash</small>
      </div>
    </div>
  </div>
  <!-- second column -->
  <div class="col-4">
    <div class="">
      <div class="card-body">
        <br>
        <br>
        <h1 class="display-4">PETER CONWAY</h1>
        <h6 class="">Youtuber | Hiker</h6>
        <p class="text-muted">Photographer and film maker. Lover of the nature and adventures. Currently
          working with AirBnB in Sri Lanka, and running self-titled YouTube channel, as PetConTheConway.
          <br>
          <br>
        <p class="text-muted">In 2016, Conway completed his studies in Film Making and Photography in UK, and
          started his own business, where he initially spent his time in creating
          documentries that promoted nature and wild life awareness. One of documentry,
          named The Elephant of Yala, won a award in national film award.
          <br>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
