<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="margin:2px">
<ul class="list-unstyled" style="margin:5px">


  <h6>Job Wall</h6>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'core:jobRequests' %}">
      Job Requests
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'core:jobs' %}">
      Jobs
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'core:declinedJobs' %}">
      Declined Jobs
    </a>
  </li>
  <br>
</ul>
</div>
