{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/company_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<div class="col">
  <div class="">
    <section class="jumbotron text-left">
      <h1 class="jumbotron-heading">Client Management</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <div class="d-flex justify-content-between align-items-center w-100">
        <a class="btn btn-outline-primary" href="{% url 'company:clientAdd' %}">Add new client</a>
        <form action={% url 'company:clientManagement'%} method='GET'>
          <input class="btn btn-outline-secondary" type="text" name="q" />
          <input class="btn btn-secondary my-2" type="submit" value="search"/> 
        </form>
      </div>

    </section>
    <hr>

    <h6 class="text-muted">List of Clients</h6>
    <table class="table text-left align-middle">
      <thead class="thead-light">
        <tr>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Acive</th>
          <th>Date Joined</th>
        </tr>
      </thead>
      <tbody>
        {% for client in clients %}
          <tr>
            <th><a class="nav-link" href="{% url 'company:clientUpdatePage' client.id %}">{{ client.email }}</a></th>
            <th>{{ client.first_name }}</th>
            <th>{{ client.last_name }}</th>
            <th>{{ client.is_active }}</th>
            <th>{{ client.date_joined }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
