{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2>Create New Client</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <small>If you do not know the email of the client, please add "test@email.com" later it
        can be changed, but make sure change before client tries to login</small>
      <br>
      <br>
      {{ form.email | as_crispy_field}}
      {{ form.username | as_crispy_field}}
      <br>
      <input class="btn btn-primary" type="submit" value="Create Client Account">
    </form>
{% endblock %}
