{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2>Create New contract Template</h2>

    <form method="POST" action="">
      {% csrf_token %}
      {{ form.template_name | as_crispy_field }}
      {{ form.subject | as_crispy_field }}
      {{ form.body | as_crispy_field }}
      {{ form.thank_you | as_crispy_field }}
      {{ form.signature | as_crispy_field }}
      <br>
      <input class="btn btn-primary" type="submit" value="Create Contract Template">
    </form>
{% endblock %}
