{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>Create New Work Template</h3>
    {% for message in messages %}
		<p id="messages">{{message}}</p>
		{% endfor %}
    <form method="POST" action="">
      {% csrf_token %}
      {{ form.workflow | as_crispy_field }}
      {{ form.template_name | as_crispy_field }}
      {{ form.subject | as_crispy_field }}
      {{ form.body | as_crispy_field }}
      {{ form.thank_you | as_crispy_field }}
      <br>
      <input class="btn btn-primary" type="submit" value="Create Email Template">
    </form>
{% endblock %}
