{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/settings_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

{% if messages %}
  <div class="row">
    {% for message in messages %}
    <p id="messages">{{message}}</p>
  </div>
{% endfor %}
{% endif %}

<div class="col">
  <h1>Email Templates</h1>
  <a href="{% url 'settings:emailTemplateAdd' %}">Add new email Template</a>
  <br>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Workflow</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      {% for emailTemplate in emailTemplates %}
        <tr>
          <th>{{ emailTemplate.workflow }}</th>
          <th><a href="{% url 'settings:emailTemplateUpdatePage' emailTemplate.id %}">{{ emailTemplate.template_name }}</a></th>
        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
<div class="col-3">
  Filters
</div>

{% endblock content %}
