<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="margin:2px">
<ul class="list-unstyled" style="margin:5px">

  <h6 class="text-muted">User Management</h6>
  <li class="nav-item">
    <a class="nav-link link-primary" href="{% url 'company:employeeManagement' %}">
      Employee
    </a>
  </li>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:clientManagement' %}">
      Clients
    </a>
  </li>
<hr>

  <h6 class="text-muted">Package Management</h6>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:eventManagement' %}">
      Events
    </a>
  </li>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:productManagement' %}">
      Products
    </a>
  </li>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:packageManagement' %}">
      Packages
    </a>
  </li>
  <hr>

<h6 class="text-muted">Equipment Management</h6>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:equipmentManagement' %}">
      Equipments
    </a>
  </li>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:equipmentMaintanence' %}">
      Equipment Maintanence
    </a>
  </li>
   <hr>

  <h6 class="text-muted">Finance</h6>
  <li>
    <a class="nav-link link-primary" href="{% url 'company:invoiceManagement' %}">
      Invoices
    </a>
  </li>

</ul>
</div>
