<ul>

  <h6>User Management</h6>
  <li>
    <a class="link-primary" href="{% url 'company:employeeManagement' %}">
      Employee
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'company:clientManagement' %}">
      Clients
    </a>
  </li>
  <br>

  <h6>Package Management</h6>
  <li>
    <a class="link-primary" href="{% url 'company:eventManagement' %}">
      Events
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'company:productManagement' %}">
      Products
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'company:packageManagement' %}">
      Packages
    </a>
  </li>
  <br>

<h6>Equipment Management</h6>
  <li>
    <a class="link-primary" href="{% url 'company:equipmentManagement' %}">
      Equipments
    </a>
  </li>
  <li>
    <a class="link-primary" href="{% url 'company:equipmentMaintanence' %}">
      Equipment Maintanence
    </a>
  </li>
   <br>

  <h6>Finance</h6>
  <li>
    <a class="link-primary" href="{% url 'company:invoiceManagement' %}">
      Invoices
    </a>
  </li>

</ul>
