{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2 class="display-6">Equipment - {{ equipment.equipment_name }}</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="col">
          {{ form.equipment_name | as_crispy_field }}
          {{ form.e_type | as_crispy_field }}
          {{ form.availability | as_crispy_field }}
          {{ form.owner | as_crispy_field }}
          {{ form.price | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update Equipment">
    </form>
{% endblock %}
