{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2 class="display-6">Equipment - {{ equipment.equipemnt.equipment_name }}</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="col">
          {{ form.equipment | as_crispy_field }}
          {{ form.maintanence_date | as_crispy_field }}
          {{ form.next_available_date | as_crispy_field }}
          {{ form.maintanence_cost | as_crispy_field }}
          {{ form.done | as_crispy_field }}
          {{ form.maintanence_reason | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update Equipment Maintanence">
    </form>
{% endblock %}
