{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/company_sidebar.html' %}
{% endblock sidebar %}

{% block content %}

<div class="col">
  <div class="">
    <section class="jumbotron text-left">
      <h1 class="jumbotron-heading">Invoices</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <div class="d-flex justify-content-between align-items-center w-100">
        <form action={% url 'company:invoiceManagement'%} method='GET'>
          <input class="btn btn-outline-secondary" type="text" name="q" />
          <input class="btn btn-secondary my-2" type="submit" value="search"/>
        </form>
      </div>
    </section>
    <hr>

    <!-- <h6 class="text-muted">List of Employees</h6> -->
    <table class="table text-left align-middle">
      <thead class="thead-light">
        <tr>
          <th>Job</th>
          <th>Issue Date</th>
          <th>Net Price</th>
          <th>Paid amount</th>
          <th>To be Paid</th>
          <th>Last Paid Date</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in invoices %}
          <tr>
            {% if invoice.job %}
              <th>
                <a class="nav-link" href="{% url 'company:invoiceDetail' invoice.id %}">{{ invoice.job }}</a>
              </th>
            {% else %}
              <th>
                <a class="nav-link" href="{% url 'company:invoiceDetail' invoice.id %}">Invoice Job is deleted</a>
              </th>
            {% endif %}
            <th>{{ invoice.issue_date|date }}</th>
            <th>{{ invoice.total_price }}</th>
            <th>{{ invoice.paid }}</th>
            <th>{{ invoice.to_be_paid }}</th>
            <th>{{ invoice.last_paid_date|date }}</th>
            {% if invoice.job is None or invoice.job.id == '' %}
            <th>
              <a class="btn btn-outline-danger btn-sm" href="{% url 'company:invoiceDeletePage' invoice.id %}">Delete Invoice</a>
            </th>
            {% else %}
            <th><a class="nav-link" href="{% url 'job:jobPage' invoice.job.id %}">Go to Job</a></th>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock content %}
