<!-- if task is appointment but appointment is not created -->
{% if task.task_type == 'ap' and not task.appointment %}
 <ul>
   <li>
       <h6>
         {{ task.task_name }}
         <a href="{% url 'job:processTask' task.id %}" class="disabled btn btn-outline-secondary btn-sm" role="button">
           <i class="bi bi-check-square-fill"></i> Send Appointment
         </a>
       </h6>
       <small>{{ task.description }}</small>
       <div class="alert alert-warning" role="alert">
         Please create or complete the appointment, by adding date and time in job and update
        </div>
        <a href="{% url 'job:appPage' task.id %}" class="btn btn-outline-secondary btn-sm" role="button">
          <i class="bi bi-check-square-fill"></i> Create Appointment
        </a>
   </li>
 </ul>

 <!-- task is appointment and task appointment also created -->
{% elif task.task_type == 'ap' and task.appointment %}
  <ul>
    <li>
        <h6>
          {{ task.task_name }}

          <!-- if user completed is no means just created only -->
          {% if task.user_completed == 'no' %}

            <a href="{% url 'job:processTask' task.id %}" class="btn btn-outline-secondary btn-sm" role="button">
              <i class="bi bi-check-square-fill"></i> Send Appointment
            </a>
            <a href="{% url 'job:appPage' task.id %}" class="btn btn-outline-secondary btn-sm" role="button">
              <i class="bi bi-check-square-fill"></i> Update Appointment
            </a>

          <!-- if user completed is sent to user -->
          {% elif task.user_completed == 'su' %}
            <a href="{% url 'job:processTask' task.id %}" class="disabled btn btn-outline-secondary btn-sm" role="button">
              <i class="bi bi-check-square-fill"></i> User not accepted
            </a>
            <a href="{% url 'job:appPage' task.id %}" class="btn btn-outline-secondary btn-sm" role="button">
              <i class="bi bi-check-square-fill"></i> Update Appointment
            </a>

          <!-- if user completed is completed by user -->
          {% elif task.user_completed == 'uc' %}
            {% if not task.completed %}
              <a href="{% url 'job:processTask' task.id %}" class="btn btn-outline-secondary btn-sm" role="button">
                <i class="bi bi-check-square-fill"></i> Book Calender
              </a>
            {% else %}
              <span class="badge bg-success">Calender Booked</span>
            {% endif %}
            <a href="#" class="disabled btn btn-outline-secondary btn-sm" role="button">
              <i class="bi bi-check-square-fill"></i> Check Appointments
            </a>
          {% endif %}

        <!-- task infor -->
        </h6>
        <small>{{ task.description }}</small>
        <br>
        <small>Completing this task will book an Appointment</small>
        <small>
          <ul>
            <li>Appointment date - {{ task.appointment.start_date }}</li>
            <li>{{ task.appointment.start_time }} - {{ task.appointment.end_time }}</li>
          </ul>
        </small>
    </li>
  </ul>
<!-- end of if statement -->
{% endif %}
