{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/job_sidebar.html' %}
{% endblock sidebar %}

{% block content %}


<div class="col">
  <h1 class="display-5">Job Requests Management</h1>
  <br>
  <a class="btn btn-outline-primary" href="{% url 'job:jobReqAdd' %}">Add new Job request</a>
  <br><br><br>
  <h4>List Job Requests</h4>
  <small>Please confirm requests to accept the request as a Job</small>
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Confirm as Job</th>
      </tr>
    </thead>
    <tbody>
      {% for reqJob in reqJobs %}
        <tr>
          <th>{{ reqJob.job_name }}</th>
          <th>
            <a href="{% url 'job:jobChangeReqToJobPage' reqJob.id %}">
              <input class="btn btn-outline-primary btn-sm" type="submit" value="Confirm Job">
            </a>
          </th>
        </tr>
        <tr>

        </tr>
      {% endfor %}
    </tbody>
  </table>

</div>

{% endblock content %}
