{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/settings_sidebar.html' %}
{% endblock sidebar %}

{% block content %}


<div class="col">
  <div class="">
    <section class="jumbotron text-left">
      <h1 class="jumbotron-heading">Work Template Management</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p>
        <a class="btn btn-outline-primary" href="{% url 'settings:workTemplateAdd' %}">Add new work template</a>
        <a href="#" class="btn btn-secondary my-2">Search</a>
      </p>
    </section>
    <hr>

    <h6 class="text-muted">List of Work Templates</h6>
    <table class="table text-left align-middle">
      <thead class="thead-light">
        <tr>
          <th>Workflow</th>
          <th>Step Number</th>
          <th>Name</th>
          <th>Work</th>
          <th>Work Type</th>
        </tr>
      </thead>
      <tbody>
        {% for workTemplate in workTemplates %}
          <tr>
            <th>{{ workTemplate.workflow }}</th>
            <th>{{ workTemplate.step_number }}</th>
            <th><a class="nav-link" href="{% url 'settings:workTemplateUpdatePage' workTemplate.id %}">{{ workTemplate.name }}</a></th>
            <th>{{ workTemplate.class_object }}</th>
            <th>{{ workTemplate.work_type }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
