{% extends 'admin_base.html' %}

{% block sidebar %}
{% include 'sidebars/settings_sidebar.html' %}
{% endblock sidebar %}

{% block content %}



<div class="col">
  <div class="">
    <section class="jumbotron text-left">
      <h1 class="jumbotron-heading">Workflow Management</h1>
      <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don't simply skip over it entirely.</p> -->
      <p>
        <a class="btn btn-outline-primary" href="{% url 'settings:workflowAdd' %}">Add new workflow</a>
        <a href="#" class="btn btn-secondary my-2">Search</a>
      </p>
    </section>
    <hr>

    <h6 class="text-muted">List of Workflows</h6>
    <table class="table text-left align-middle">
      <thead class="thead-light">
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for workflow in workflows %}
          <tr>
            <th><a class="nav-link" href="{% url 'settings:workflowUpdatePage' workflow.id %}">{{ workflow.workflow_name }}</a></th>
            <th>{{ workflow.status }}</th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock content %}
