{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2>workflow - {{ workflow.workflow_name }}</h2>

    <form method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="col">
          {{ form.workflow_name | as_crispy_field }}
          {{ form.status | as_crispy_field }}
          {{ form.description | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update workflow">
    </form>
{% endblock %}
