{% extends 'admin_base_without_nav.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h2>Work Template - {{ workTemplate.name }}</h2>

    <form method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="col">
          {{ form.workflow | as_crispy_field }}
          {{ form.step_number | as_crispy_field }}
          {{ form.name | as_crispy_field }}
          {{ form.class_object | as_crispy_field }}
          {{ form.work_type | as_crispy_field }}
          {{ form.description | as_crispy_field }}
          {{ form.day_delta | as_crispy_field }}
          {{ form.auto_complete | as_crispy_field }}
          {{ form.check_invoice | as_crispy_field }}
          {{ form.email_template | as_crispy_field }}
          {{ form.contract_template | as_crispy_field }}
          {{ form.quest_template | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update work template">
    </form>
{% endblock %}
