{% extends 'admin_base.html' %}
{% load crispy_forms_tags %}


{% block content %}
    <h3>Work Template - {{ workTemplate.name }}</h3>
    {% for message in messages %}
		<p id="messages">{{message}}</p>
		{% endfor %}
    <form method="POST" action="">
      {% csrf_token %}
      <br>
      <div class="row">
        <div class="col">
          {{ form.workflow | as_crispy_field }}
          {{ form.step_number | as_crispy_field }}
          {{ form.name | as_crispy_field }}
          {{ form.class_object | as_crispy_field }}
          {{ form.description | as_crispy_field }}
          {{ form.day_delta | as_crispy_field }}
          {{ form.auto_complete | as_crispy_field }}
          {{ form.email_template | as_crispy_field }}
          {{ form.contract_templete | as_crispy_field }}
          {{ form.quest_template | as_crispy_field }}
        </div>
      </div>
      <br>
      <input class="btn btn-primary" type="submit" value="Update work template">
    </form>
{% endblock %}
